<md-toolbar class="md-hue-2" id="top-bar">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.toggleNavBar()" hide-gt-md>
            <md-icon>menu</md-icon>
        </md-button>
        <h2>
            <span>Portal for fun</span>
        </h2>
        <span flex></span>
        <div>{{gvm.user.displayName}}</div>
 
        <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon md-menu-origin>more_vert</md-icon>
            </md-button>
            <md-menu-content>
                <md-menu-item>
                    <md-button ng-click="ctrl.redial($event)">
                        <md-icon md-menu-align-target>dialpad</md-icon>
                        Redial
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                        <md-icon>voicemail</md-icon>
                        Check voicemail
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-click="vm.notificationsEnabled = !vm.notificationsEnabled">
                        <md-icon>notifications_{{vm.notificationsEnabled ? 'off' : 'on'}}</md-icon>
                        {{vm.notificationsEnabled ? 'Disable' : 'Enable' }} notifications
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-show="gvm.user">
                    <md-button ng-click="vm.logout()">
                        <md-icon>logout</md-icon>
                        Logout
                    </md-button>
                </md-menu-item>
                 <md-menu-item ng-hide="gvm.user">
                    <md-button ng-click="vm.login()">
                        <md-icon>login</md-icon>
                        Login
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>