<md-sidenav id="sidebar" class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-content layout-padding>
        <md-list ng-cloak>
            <md-list-item ui-sref="app.home" ui-sref-active="active" close-sidebar-on-click>
                Home
            </md-list-item>
            <md-list-item ui-sref="app.profile" ui-sref-active="active" close-sidebar-on-click>
                Profile
            </md-list-item>
        </md-list>
    </md-content>
</md-sidenav>