<div id="home">
    <div flex="100" flex-gt-md="85" layout-xs="column" layout="row" layout-wrap>
        <div flex layout="column">
            <md-card>
                <md-card-title flex="none">
                    <md-card-title-text>
                        <div class="md-headline">Welcome</div>
                        <div class="md-subhead">Getting started</div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-button ui-sref="app.club">List all clubs</md-button>
                </md-card-content>

                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
        </div>

    </div>
</div>